@import "./variable.scss";
@import "react-lazy-load-image-component/src/effects/blur.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*,
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", -apple-system, sans-serif;
}

.icon-scroll-top {
  bottom: 20%;
  border-radius: 2rem;
  z-index: 100;
}

.min-height-header {
  min-height: $height-header;
}

.min-height-footer {
  min-height: $height-footer;
}

.height-body {
  min-height: calc((100vh - $height-header) - $height-footer);
}

.max-w-statistical {
  max-width: $max-width-statistical;
}

.text-shadow-primary-400 {
  text-shadow: 0px 0px 6px #fc7400;
}

.text-shadow-primary-500 {
  text-shadow: 0px 0px 6px #fca500;
}

.clip-path-menu {
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.bg-linear-primary {
  background: linear-gradient(155.89deg,
      $primary-300 8.26%,
      $primary-400 91.18%);
}

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.scroll-custom-primary {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: $gray-400;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary-300;
  }
}